name: Build, Push & Deploy FastAPI App

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Checkout repository
    - name: Checkout Code
      uses: actions/checkout@v4

    # 2. Login to Docker Hub
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build Docker image
    - name: Build Docker Image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fastapi-tutorial:latest .

    # 4. Push image to Docker Hub
    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/fastapi-tutorial:latest

    # 5. Deploy on EC2
    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/fastapi-tutorial:latest
          docker stop fastapi-app || true
          docker rm fastapi-app || true
          docker run -d \
            --name fastapi-app \
            -p 8000:8000 \
            ${{ secrets.DOCKER_USERNAME }}/fastapi-tutorial:latest
          docker image prune -f
